SPRING_PROFILES_ACTIVE=local
MSSQL_SA_PASSWORD=ReemplazarLocalmente_ConClaveSegura1!
DB_USERNAME=sa
DB_PASSWORD=ReemplazarLocalmente_ConClaveSegura1!
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SOLICITUDES_TOPIC=solicitudes.v1
KAFKA_CONSUMER_GROUP=indicadores-v1
OUTBOX_FIXED_DELAY=1000
SWAGGER_ENABLED=true

